body {
	margin: 0;
	font-family: "Lato", sans-serif;
  }
  
  .sidebar {
	margin: 0;
	padding: 0;
	width: 200px;
	background-color:#00ADB5;
	position: fixed;
	height: 100%;
	overflow: auto;
  }
  
  .sidebar a {
	display: block;
    color: black;
    padding: 30px;
    text-decoration: none;
    text-align: --webkit-left;
    font-size: larger;
  }
   
  .sidebar a.active {
	/* background-color: #000000; */
	color: black;
    text-align: "-webkit-match-parent";
    font-size: xx-large;
	
  }
  
  .sidebar a:hover:not(.active) {
	background-color: rgb(0, 0, 0);
	color: white;
  }
  
  div.content {
	margin-left: 200px;
	padding: 1px 16px;
	height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
	.sidebar {
	  width: 100%;
	  height: auto;
	  position: relative;
	}
	.sidebar a {float: left;}
	div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
	.sidebar a {
	  text-align: center;
	  float: none;
	}
  }

.table-fournisseur{
	caption-side: top;
	/* position: absolute; */
	left: center;
	display: grid;


}
.title{
	padding: 40px;
	text-align: center;
	background-color: #EEEEEE;
}